{{ define "main" }}
<main aria-role="main">
    <div class="jumbotron mb-0">
        <div class="container">
            <div class="row center-vertically-when-tablet">
                <div class="col-3 align-self-center d-flex justify-content-center">
                    <img class="rounded-circle" src="/brendan_tierney.jpg" />
                </div>
                <div class="col-9">
                    <h1 class="display-4 text-primary">
                        Brendan Tierney
                    </h1>
                    <p class="lead">
                        I'm a software engineer with full-stack experience in building scalable software solutions.
                    </p>
                    <hr class="border-primary">
                    <p>
                        My experience includes technologies such as JavaScript, React, Vue, Angular 4, HTML5, CSS3,
                        Bootstrap, Java, Spring, Node.js, TypeScript, GraphQL, Docker, Amazon Web Services, PostgreSQL,
                        and even more!
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/brendan_tierney_resume.pdf" role="button" download>
                            View my resume
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4 pb-4">
        <h2 class="mb-4 text-success">My various qualifications also include:</h2>
        <div class="row">
            <div class="col-4">
                <h3 class="text-success">Front-End</h3>
                <ul>
                    <li>Single-Page Applications</li>
                    <li>Server-Rendered Applications</li>
                    <li>Responsive Design</li>
                    <li>Cross-Browser and Cross-Device Support</li>
                    <li>State Management Techniques</li>
                </ul>
            </div>
            <div class="col-4">
                <h3 class="text-success">Back-End</h3>
                <ul>
                    <li>RESTful API Design</li>
                    <li>GraphQL API Design</li>
                    <li>Microservice Architecture</li>
                    <li>Relational Database Design</li>
                    <li>Cloud Service Architecture</li>
                </ul>
            </div>
            <div class="col-4">
                <h3 class="text-success">Software Design</h3>
                <ul>
                    <li>Agile and Scrum Methodologies</li>
                    <li>Test-Driven Development</li>
                    <li>Distributed Systems and Applications</li>
                    <li>Operating Systems</li>
                    <li>Computer Architecture</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <div class="container pb-4 pt-4 text-center">
            <h3 class="text-primary">Interested?</h3>
            <p class="mb-0">You can contact me at <a class="text-primary"
                    href="mailto:tiernebre@gmail.com">tiernebre@gmail.com</a></p>
        </div>
    </div>
</main>
{{ end }}