{{ define "main" }}
<main aria-role="main">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-3 align-self-center d-flex justify-content-center">
                    <img class="rounded-circle" src="/brendan_tierney.jpg" />
                </div>
                <div class="col-9">
                    <h1 class="display-4">
                        Brendan Tierney
                    </h1>
                    <p class="lead">
                        I'm a software engineer with full-stack experience in building scalable software solutions.
                    </p>
                    <hr class="my-4">
                    <p>
                        My experience includes technologies such as JavaScript, React, Vue, Angular 4, HTML5, CSS3,
                        Bootstrap, Java, Spring, Node.js, TypeScript, GraphQL, Docker, Amazon Web Services, PostgreSQL,
                        and even more!
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">View my resume</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="mb-4">My various qualifications also include:</h2>
        <div class="row">
            <div class="col-4">
                <h3>Front-End</h3>
                <ul>
                    <li>Single-Page Applications</li>
                    <li>Server-Rendered Applications</li>
                    <li>Responsive Design</li>
                    <li>Cross-Browser and Cross-Device Support</li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Back-End</h3>
                <ul>
                    <li>RESTful API Design</li>
                    <li>GraphQL API Design</li>
                    <li>Microservice Architecture</li>
                    <li>Relational Database Design</li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Software Design</h3>
                <ul>
                    <li>Agile and Scrum Methodologies</li>
                    <li>Test-Driven Development</li>
                    <li>Distributed Systems and Applications</li>
                    <li>Operating Systems</li>
                </ul>
            </div>
        </div>
    </div>
</main>
{{ end }}